<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samsung.usid.locationalarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <permission
        android:name="samsung.usid.locationalarm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="csamsung.usid.locationalarm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_main_activity" >
            <intent-filter>
                <action android:name="samsung.usid.locationalarm.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="NewAlarm"
            android:label="@string/createalarm" >
        </activity>
        <activity
            android:name="AlarmDetails"
            android:label="@string/details" >
        </activity>
        <activity
            android:name="SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="LoginActivity"
            android:label="@string/sign_in" >
        </activity>
        <activity
            android:name="EditAlarmActivity"
            android:label="@string/edit_alarm" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/APP_ID" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="FriendsListActivity" android:label="@string/friends"></activity>
        <activity android:name="NewFriend" android:label="@string/add_friend"></activity>
        <activity android:name="FriendDetails" android:label="@string/friend_title"></activity>
        <activity android:name="EditFriendActivity" android:label="@string/edit_friend"></activity>
        <activity android:name="AccountSettingsActivity" android:label="@string/acsettings"></activity>
        
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="samsung.usid.locationalarm" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
    </application>

</manifest>